In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
import warnings 
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
warnings.filterwarnings('ignore')

In [7]:
df=pd.read_csv('data/stud.csv')

In [8]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
###indepemdent amd dependent features 
x=df.drop(columns=['math_score'],axis=1)

In [10]:
x.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [11]:
y=df['math_score']

In [13]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [16]:
##separting the numeric and categorical featires so that we can perform or change this categorical features into 1 and 0 
numeric_feature=x.select_dtypes(exclude='object').columns
cat_feature=x.select_dtypes(include='object').columns
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,cat_feature),
        ('StandardScaler',numeric_transformer,numeric_feature)
    ]
)

In [ ]:
x=preprocessor.fit_transform(x)

In [19]:
x.shape

(1000, 19)

In [20]:
###train and test the split 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [23]:
x_train.shape,x_test.shape

((800, 19), (200, 19))

In [ ]:
def evaluate_model(true,predicted):
    mse=mean_squared_error(true,predicted),
    mae=mean_absolute_error(true,predicted),
    r2_square=r2_score(true,predicted),
    rmse=np.sqrt(mse(true,predicted))
    return r2_square,mae,rmse

In [ ]:
models={
    "linearregression":LinearRegression(),
    "ridge":Ridge(),
    "kneighbouringregressor":KNeighborsRegressor(),
    "lasso":Lasso(),
    "decision tree regression":DecisionTreeRegressor(),
    "xgboost":XGBRegressor(),
    "catboost":CatBoostRegressor(),
    "random forest regressor":RandomForestRegressor(),
    "adaboost regressor":AdaBoostRegressor()

}